.head-main .content-last-head .content-product {
    display: flex;
    list-style: none;
    margin-left: 20px;
    height: 90%;
    align-items: center;
    justify-content: center;


}

.head-main .content-last-head .content-product li {
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);

    border-radius: 6px;
    transition: all 0.3s ease;
}

.head-main .content-last-head .content-product li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px 0;
}


.head-main .content-last-head .content-product li :hover {
    color: purple;

}

.head-main .content-last-head .content-product li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 70%;
    height: 3px;
    background-color: purple;
    transform: scaleX(0);
    transform-origin: center;
    color: white;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.head-main .content-last-head .content-product li:hover::before,
.head-main .content-last-head .content-product li.active::before {
    transform: scaleX(1);
}


.head-main .bottun-content {
    background-color: white;
    height: 40px;
    align-content: center;
}
